body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pagination{
  margin-top:5em;
  display: inline-block;
}

.pagination li {
  color: black;
  float: left;
  text-decoration: none;
  list-style: none;
  border-radius: 5px;
  transition: background-color .3s;
  cursor: pointer;
  
}
.pagination li a{ 
  display: block;
  padding:8px 16px
}
.pagination li.active {
  background-color: black;
  color: white;
  list-style: none,
}
.pagination li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination li:hover:not(.active) {background-color: #ddd;}